<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="style.css"/>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<title>Login Page</title>
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12 custommaintopsection">
      <div class="header">
        <div class"logosection"> 
          <!--<h1>TRL <span class="innerspan">LOGO</span></h1>--> 
          <img src="images/logo.png" class="img-responsive" alt="trl-logo"  /> </div>
      </div>
    </div>
    <!--col-12 col-md-12 col-sm-6 custommaintopsection end here-->
    
    <div class="col-12 col-md-12 col-sm-12 formsection requestsongmain">
     <img src="images/Micheal.png" class="img-responsive" alt="micheal-img"/> 
	 <div class="mainperformer">
	 <div class="performertitle">Michael</div>
	 <span>Performing Tonight</span>
	 </div>
	 
	 <div class="performerdetails">Loremipsumdolor sit amet, consectetur adiplising elit. Nunc maximus, nulla ut cmmodosagittis, sapien dui mattis dui, non pulvinar loremfelis nec erac...</div>
    </div>
    <!--formsection end here-->
    <div class="col-12 col-md-12 col-sm-12 footet-top"></div>
    <div class="col-12 col-md-12 col-sm-12 footersetion"> <button class="btn btn-primary customfullbutton">Request A Song</button> </div>
  </div>
  <!--row end here--> 
</div>
<!--Container end here-->

</body>
</html>
