<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="style.css"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  
   </head>
   <body>
      <div class="container">
         <div class="row">
            <div class="col-12 col-md-12 col-sm-12 custommaintopsectioninner">
               <nav class="navbar navbar-inverse customnav">
                  <div class="navbar-header customheader">
                     <button type="button" class="navbar-toggle customtoggle" data-toggle="collapse" data-target="#myNavbar">
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>                        
                     </button>
                     <a class="navbar-brand custombrand" href="#">Total Requests Live</a>
                  </div>
                  <div class="collapse navbar-collapse" id="myNavbar">
                     <!-- <ul class="nav navbar-nav">
                        <li class="active"><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        </ul>-->
                  </div>
               </nav>
            </div>
            <!--col-12 col-md-12 col-sm-12 end here-->
			
			<div class="col-12 col-md-12 col-sm-12">
			<div class="paysuccesstitle">
			<h4>Thank you for your payment!</h4>
			<span>Your request sumitted successfully...</span>
			</div>
			
		
			</div><!--col-12 col-md-12 col-sm-12 end here-->
			
		<div class="col-12 col-md-12 col-sm-12 paymentsuccess">
         <img src="images/Micheal.png" class="img-responsive" alt="micheal-img"/> 
		 <div class="song-queue">Song Queue</div>
        </div>
			
			
         </div><!--row-->
		 
		  <div class="row">
		  
		  <div class="col-sm-12 col-md-6 col-xs-12 paymentsuccessrow">
		  <div class="table-wrapper-scroll-y">
                           <table class="table table-striped">
                              <tbody>
                                 <tr class="differntimg">
                                    <td><span class="boldtitle">Everyday I have the Blues</span>
                                       <span class="musicsubtitle">Elmore Jones</span>
									   <span class="pricesection">$ 425</span>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td><span>Everyday is Sunshine</span>
                                       <span class="musicsubtitle">John Doe</span>
									   <span class="pricesection">$ 225</span>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td><span>Everyday I Love You</span>
                                       <span class="musicsubtitle">Boyzone</span>
									   <span class="pricesection">$ 125</span>
                                    </td>
                                 </tr>
								 <tr>
								 
                                    <td><span>Everyday I Love You</span>
                                       <span class="musicsubtitle">Boyzone</span>
									   <span class="pricesection">$ 95</span>
                                    </td>
					
                                 </tr>
                              </tbody>
                           </table>
						   <span class="bottomline">Click on any song to add more tip</span>
						   </div>
          </div>
		  
		  <div class="col-sm-12 col-md-6 col-xs-10">
		  
		  </div>
		  
		  </div>
		  
		  
		  <div class="row">
		  
		  <div class="col-sm-12 col-md-12 col-xs-12">
        <div class="form-group">
          <button type="button" class="btn btn-success customfullbtn">Request Another Song</button>
      </div>
		 </div>
		  
		  </div>
		 
      </div><!--container-->
   </body>
</html>